MNEMONIC="burst idle since hip screen small reunion crisp key grace cave journey evidence planet hair permit coin dance detect vast shock vague pair ability broccoli"
WALLET_ADDRESS="7GPAKS5M4N3S4KC3FBTMTJWVMZQCYQSOPJTQLXOSPNA6MD547TTWMUW3BQ"
PRIVATE_KEY="9ihckr/G4DELtzPQW5lJhuemlwoto2vRzXgaL+PC4zP5ngVLrON3LihbKGbJptVmYCxCTnpnBd3Se0HmD7z85w=="
SERPAPI_KEY="2379b8327b35f14c336cd08ea89d34918a689fc50b152d928d0ba5dc82e089b6"