algokit-client-generator==2.2.0
algokit-utils==4.2.3
algorand-python==3.5.1
algorand-python-testing==1.1.0
anyio==4.14.2
ast-serialize==0.8.0
attrs==25.4.0
cattrs==25.3.0
certifi==2026.7.22
cffi==2.1.1
coincurve==21.0.0
colorama==0.4.6
cyclopts==4.23.3
docstring-parser==0.18.0
ecdsa==0.19.2
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.19
immutabledict==4.3.1
librt==0.15.0
lsprotocol==2025.0.0
markdown-it-py==4.2.0
mdurl==0.1.2
msgpack==1.2.2
mypy==2.1.0
mypy-extensions==1.1.0
networkx==3.6.1
packaging==24.2
pathspec==1.1.1
pip==25.3
prettytable==3.18.0
puyapy==5.10.1
py-algorand-sdk==2.12.0
pycparser==3.0
pycryptodomex==3.23.0
pygls==2.1.1
pygments==2.21.0
pynacl==1.6.2
python-dotenv==1.2.3
rich==15.0.0
rich-rst==2.1.0
six==1.17.0
structlog==25.5.0
typing-extensions==4.16.0
wcwidth==0.8.3
